#highlights {
  flex-direction: column;
}

#highlights h1 {
  font-weight: 700;
  color: var(--neutral0);
}

#highlights p {
  color: var(--neutral0);
}

#carousel {
  width: 80%;
  margin-top: 24px;
}

#carousel #item {
  padding: 16px;
  padding-bottom: 64px;
  background-color: var(--neutral25);
  border: 1px solid var(--neutral200);
  border-radius: 8px;
}

#carousel #item img {
  width: 100%;
}

#carousel #item .about-texts {
  color: var(--neutral999);
}

#carousel #item .about-texts h1 {
  font-weight: 700;
  margin: 12px 0;
}

#carousel #item .about a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--neutral200);
  background-color: var(--primary500);
  color: var(--neutral0);
  padding: 12px;
  border-radius: 12px;
  margin-top: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--primary500);
  border-radius: 8px;
}
