.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 24px auto;
  /* margin: auto 0; */
}

#item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#item img {
  width: 50%;
}

#item .about {
  width: 50%;

  background-color: red;
}
