:root {
  --title: #322153;
  --primary: #34cb79;
  --secondary: #190fe6;

  --white: #f0f0f5;
  --black: #0c0c0c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}
a:hover {
  transition: 0.2s ease all;
  scale: 0.95;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
  color: var(--black);
}

section {
  height: 100vh;
  max-height: fit-content;
  align-items: center;
  justify-content: center;
}
